<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ui_diagram -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ui_diagram.presentation.Ui_diagramModelWizardID"
            name="%_UI_Ui_diagramModelWizard_label"
            class="ui_diagram.presentation.Ui_diagramModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Ui_diagramModelFile.gif">
         <description>%_UI_Ui_diagramModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ui_diagram -->
      <editor
            id="ui_diagram.presentation.Ui_diagramEditorID"
            name="%_UI_Ui_diagramEditor_label"
            icon="icons/full/obj16/Ui_diagramModelFile.gif"
            extensions="ui_diagram"
            class="ui_diagram.presentation.Ui_diagramEditor"
            contributorClass="ui_diagram.presentation.Ui_diagramActionBarContributor">
      </editor>
   </extension>

</plugin>
