<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--

-->
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="uidiagram_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="uidiagram_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="uidiagram.diagram.part.UidiagramDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/UidiagramDiagramFile.gif"
         extensions="uidiagram_diagram"
         default="true"
         class="uidiagram.diagram.part.UidiagramDiagramEditor"
         matchingStrategy="uidiagram.diagram.part.UidiagramMatchingStrategy"
         contributorClass="uidiagram.diagram.part.UidiagramDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="uidiagram.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/UidiagramDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="uidiagram.diagram.part.UidiagramCreationWizard"
  	     id="uidiagram.diagram.part.UidiagramCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="uidiagram.diagram.InitDiagram"
            nameFilter="*.uidiagram"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="uidiagram.diagram.part.UidiagramInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="uidiagram.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="UidiagramPresentation">
         <Priority name="Lowest"/>
         <ViewId id="uidiagram.diagram.part.UidiagramDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider"
         id="UidiagramPresentationPrint">
         <Priority name="Lowest"/>
         <ViewId id="uidiagram.diagram.part.UidiagramDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="UidiagramPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="uidiagram.diagram.part.UidiagramDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="UidiagramRender">
         <Priority name="Lowest"/>
         <ViewId id="uidiagram.diagram.part.UidiagramDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="uidiagram.diagram.providers.UidiagramMarkerNavigationProvider">
         <MarkerType name="uidiagram.diagram.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

   <extension id="diagnostic" name="Uidiagram Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="uidiagram.diagram.providers.UidiagramValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="uidiagram.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="uidiagram.diagram.general"
            name="%prefpage.uidiagram.diagram.general"
            class="uidiagram.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="uidiagram.diagram.appearance"
            name="%prefpage.uidiagram.diagram.appearance"
            category="uidiagram.diagram.general"
            class="uidiagram.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="uidiagram.diagram.connections"
            name="%prefpage.uidiagram.diagram.connections"
            category="uidiagram.diagram.general"
            class="uidiagram.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="uidiagram.diagram.printing"
            name="%prefpage.uidiagram.diagram.printing"
            category="uidiagram.diagram.general"
            class="uidiagram.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="uidiagram.diagram.rulersAndGrid"
            name="%prefpage.uidiagram.diagram.rulersAndGrid"
            category="uidiagram.diagram.general"
            class="uidiagram.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="uidiagram.diagram"
            labelProvider="uidiagram.diagram.sheet.UidiagramSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="uidiagram.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="uidiagram.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="uidiagram.diagram.sheet.UidiagramPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="uidiagram.diagram.navigator.UidiagramAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="uidiagram.diagram.providers.UidiagramViewProvider">
         <Priority name="Lowest"/>
         <object id="referencing-diagrams" class="org.eclipse.gmf.runtime.notation.Diagram">
            <method name="getType()" value="uidiagram"/>
         </object>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" containerViews="referencing-diagrams"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Uidiagram"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,3001,3002,3003,3004,3005,3006,3007,3008,3009,3010,3011,3012,3013,3014,3015,3016,3017,3018,3019,3020,3021,3022,3023,3024,3025,3026,3027,3028"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="uidiagram.diagram.providers.UidiagramEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Uidiagram"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,3001,3002,3003,3004,3005,3006,3007,3008,3009,3010,3011,3012,3013,3014,3015,3016,3017,3018,3019,3020,3021,3022,3023,3024,3025,3026,3027,3028"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value=""/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5029,5028,5027,5001,5002,5003,5004,5005,5006,5007,5008,5026,5009,5010,5011,5025,5012,5013,5014,5015,5016,5017,5018,5019,5020,5021,5022,5023,5024"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7001,7002,7003,7004,7005,7006,7007"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   
   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfUi_DiagramEditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.Ui_DiagramEditPart" id="Ui_Diagram_1000"/>
         <context elements="Ui_Diagram_1000"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfUserInterfaceEditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.UserInterfaceEditPart" id="UserInterface_2001"/>
         <context elements="UserInterface_2001"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfGroupEditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.GroupEditPart" id="Group_3001"/>
         <context elements="Group_3001"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfGroup2EditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.Group2EditPart" id="Group_3002"/>
         <context elements="Group_3002"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfButtonEditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.ButtonEditPart" id="Button_3003"/>
         <context elements="Button_3003"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfLabelEditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.LabelEditPart" id="Label_3004"/>
         <context elements="Label_3004"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfCheckBoxEditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.CheckBoxEditPart" id="CheckBox_3005"/>
         <context elements="CheckBox_3005"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfTextInputEditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.TextInputEditPart" id="TextInput_3006"/>
         <context elements="TextInput_3006"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfDropDownEditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.DropDownEditPart" id="DropDown_3007"/>
         <context elements="DropDown_3007"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfMenuEditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.MenuEditPart" id="Menu_3008"/>
         <context elements="Menu_3008"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfImgEditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.ImgEditPart" id="Img_3009"/>
         <context elements="Img_3009"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfIconEditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.IconEditPart" id="Icon_3010"/>
         <context elements="Icon_3010"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfTableEditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.TableEditPart" id="Table_3011"/>
         <context elements="Table_3011"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfColumnEditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.ColumnEditPart" id="Column_3012"/>
         <context elements="Column_3012"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfComboBoxEditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.ComboBoxEditPart" id="ComboBox_3013"/>
         <context elements="ComboBox_3013"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfRadioButtonEditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.RadioButtonEditPart" id="RadioButton_3014"/>
         <context elements="RadioButton_3014"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfUserInterface2EditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.UserInterface2EditPart" id="UserInterface_3015"/>
         <context elements="UserInterface_3015"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfButton2EditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.Button2EditPart" id="Button_3016"/>
         <context elements="Button_3016"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfLabel2EditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.Label2EditPart" id="Label_3017"/>
         <context elements="Label_3017"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfCheckBox2EditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.CheckBox2EditPart" id="CheckBox_3018"/>
         <context elements="CheckBox_3018"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfTextInput2EditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.TextInput2EditPart" id="TextInput_3019"/>
         <context elements="TextInput_3019"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfDropDown2EditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.DropDown2EditPart" id="DropDown_3020"/>
         <context elements="DropDown_3020"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfMenu2EditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.Menu2EditPart" id="Menu_3021"/>
         <context elements="Menu_3021"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfImg2EditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.Img2EditPart" id="Img_3022"/>
         <context elements="Img_3022"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfIcon2EditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.Icon2EditPart" id="Icon_3023"/>
         <context elements="Icon_3023"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfTable2EditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.Table2EditPart" id="Table_3024"/>
         <context elements="Table_3024"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfColumn2EditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.Column2EditPart" id="Column_3025"/>
         <context elements="Column_3025"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfComboBox2EditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.ComboBox2EditPart" id="ComboBox_3026"/>
         <context elements="ComboBox_3026"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfRadioButton2EditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.RadioButton2EditPart" id="RadioButton_3027"/>
         <context elements="RadioButton_3027"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uidiagram.diagram.providers.assistants.UidiagramModelingAssistantProviderOfUserInterface3EditPart">
         <Priority name="Lowest"/>
         <object class="uidiagram.diagram.edit.parts.UserInterface3EditPart" id="UserInterface_3028"/>
         <context elements="UserInterface_3028"/>
      </modelingAssistantProvider>
      
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="uidiagram.diagram.providers.UidiagramIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="uidiagram.diagram.providers.UidiagramParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders" id="decorator-provider">
      <?gmfgen generated="true"?>
      <decoratorProvider class="uidiagram.diagram.providers.UidiagramShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)" id="generated-top-nodes">
            <method name="getType()" value="2001"/>
         </object>
         <context decoratorTargets="generated-top-nodes"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://uidiagram">
         <metamodelType
               id="uidiagram.diagram.Ui_Diagram_1000"
               name="%metatype.name.Ui_Diagram_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Ui_Diagram"
               edithelper="uidiagram.diagram.edit.helpers.Ui_DiagramEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <metamodelType
               id="uidiagram.diagram.UserInterface_2001"
               name="%metatype.name.UserInterface_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="UserInterface"
               edithelper="uidiagram.diagram.edit.helpers.UserInterfaceEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <metamodelType
               id="uidiagram.diagram.Group_3001"
               name="%metatype.name.Group_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Group"
               edithelper="uidiagram.diagram.edit.helpers.GroupEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <specializationType
               id="uidiagram.diagram.Group_3002"
               name="%metatype.name.Group_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="uidiagram.diagram.Group_3001"/>
            <param name="semanticHint" value="3002"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <metamodelType
               id="uidiagram.diagram.Button_3003"
               name="%metatype.name.Button_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Button"
               edithelper="uidiagram.diagram.edit.helpers.ButtonEditHelper">
            <param name="semanticHint" value="3003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <metamodelType
               id="uidiagram.diagram.Label_3004"
               name="%metatype.name.Label_3004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Label"
               edithelper="uidiagram.diagram.edit.helpers.LabelEditHelper">
            <param name="semanticHint" value="3004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <metamodelType
               id="uidiagram.diagram.CheckBox_3005"
               name="%metatype.name.CheckBox_3005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CheckBox"
               edithelper="uidiagram.diagram.edit.helpers.CheckBoxEditHelper">
            <param name="semanticHint" value="3005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <metamodelType
               id="uidiagram.diagram.TextInput_3006"
               name="%metatype.name.TextInput_3006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="TextInput"
               edithelper="uidiagram.diagram.edit.helpers.TextInputEditHelper">
            <param name="semanticHint" value="3006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <metamodelType
               id="uidiagram.diagram.DropDown_3007"
               name="%metatype.name.DropDown_3007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DropDown"
               edithelper="uidiagram.diagram.edit.helpers.DropDownEditHelper">
            <param name="semanticHint" value="3007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <metamodelType
               id="uidiagram.diagram.Menu_3008"
               name="%metatype.name.Menu_3008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Menu"
               edithelper="uidiagram.diagram.edit.helpers.MenuEditHelper">
            <param name="semanticHint" value="3008"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <metamodelType
               id="uidiagram.diagram.Img_3009"
               name="%metatype.name.Img_3009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Img"
               edithelper="uidiagram.diagram.edit.helpers.ImgEditHelper">
            <param name="semanticHint" value="3009"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <metamodelType
               id="uidiagram.diagram.Icon_3010"
               name="%metatype.name.Icon_3010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Icon"
               edithelper="uidiagram.diagram.edit.helpers.IconEditHelper">
            <param name="semanticHint" value="3010"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <metamodelType
               id="uidiagram.diagram.Table_3011"
               name="%metatype.name.Table_3011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Table"
               edithelper="uidiagram.diagram.edit.helpers.TableEditHelper">
            <param name="semanticHint" value="3011"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <metamodelType
               id="uidiagram.diagram.Column_3012"
               name="%metatype.name.Column_3012"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Column"
               edithelper="uidiagram.diagram.edit.helpers.ColumnEditHelper">
            <param name="semanticHint" value="3012"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <metamodelType
               id="uidiagram.diagram.ComboBox_3013"
               name="%metatype.name.ComboBox_3013"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ComboBox"
               edithelper="uidiagram.diagram.edit.helpers.ComboBoxEditHelper">
            <param name="semanticHint" value="3013"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <metamodelType
               id="uidiagram.diagram.RadioButton_3014"
               name="%metatype.name.RadioButton_3014"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="RadioButton"
               edithelper="uidiagram.diagram.edit.helpers.RadioButtonEditHelper">
            <param name="semanticHint" value="3014"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <specializationType
               id="uidiagram.diagram.UserInterface_3015"
               name="%metatype.name.UserInterface_3015"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="uidiagram.diagram.UserInterface_2001"/>
            <param name="semanticHint" value="3015"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <specializationType
               id="uidiagram.diagram.Button_3016"
               name="%metatype.name.Button_3016"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="uidiagram.diagram.Button_3003"/>
            <param name="semanticHint" value="3016"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <specializationType
               id="uidiagram.diagram.Label_3017"
               name="%metatype.name.Label_3017"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="uidiagram.diagram.Label_3004"/>
            <param name="semanticHint" value="3017"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <specializationType
               id="uidiagram.diagram.CheckBox_3018"
               name="%metatype.name.CheckBox_3018"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="uidiagram.diagram.CheckBox_3005"/>
            <param name="semanticHint" value="3018"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <specializationType
               id="uidiagram.diagram.TextInput_3019"
               name="%metatype.name.TextInput_3019"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="uidiagram.diagram.TextInput_3006"/>
            <param name="semanticHint" value="3019"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <specializationType
               id="uidiagram.diagram.DropDown_3020"
               name="%metatype.name.DropDown_3020"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="uidiagram.diagram.DropDown_3007"/>
            <param name="semanticHint" value="3020"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <specializationType
               id="uidiagram.diagram.Menu_3021"
               name="%metatype.name.Menu_3021"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="uidiagram.diagram.Menu_3008"/>
            <param name="semanticHint" value="3021"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <specializationType
               id="uidiagram.diagram.Img_3022"
               name="%metatype.name.Img_3022"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="uidiagram.diagram.Img_3009"/>
            <param name="semanticHint" value="3022"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <specializationType
               id="uidiagram.diagram.Icon_3023"
               name="%metatype.name.Icon_3023"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="uidiagram.diagram.Icon_3010"/>
            <param name="semanticHint" value="3023"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <specializationType
               id="uidiagram.diagram.Table_3024"
               name="%metatype.name.Table_3024"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="uidiagram.diagram.Table_3011"/>
            <param name="semanticHint" value="3024"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <specializationType
               id="uidiagram.diagram.Column_3025"
               name="%metatype.name.Column_3025"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="uidiagram.diagram.Column_3012"/>
            <param name="semanticHint" value="3025"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <specializationType
               id="uidiagram.diagram.ComboBox_3026"
               name="%metatype.name.ComboBox_3026"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="uidiagram.diagram.ComboBox_3013"/>
            <param name="semanticHint" value="3026"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <specializationType
               id="uidiagram.diagram.RadioButton_3027"
               name="%metatype.name.RadioButton_3027"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="uidiagram.diagram.RadioButton_3014"/>
            <param name="semanticHint" value="3027"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://uidiagram">
         <specializationType
               id="uidiagram.diagram.UserInterface_3028"
               name="%metatype.name.UserInterface_3028"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="uidiagram.diagram.UserInterface_2001"/>
            <param name="semanticHint" value="3028"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="uidiagram.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="uidiagram.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="uidiagram.diagram.TypeContext">
         <elementType ref="uidiagram.diagram.Ui_Diagram_1000"/>
         <elementType ref="uidiagram.diagram.UserInterface_2001"/>
         <elementType ref="uidiagram.diagram.Group_3001"/>
         <elementType ref="uidiagram.diagram.Group_3002"/>
         <elementType ref="uidiagram.diagram.Button_3003"/>
         <elementType ref="uidiagram.diagram.Label_3004"/>
         <elementType ref="uidiagram.diagram.CheckBox_3005"/>
         <elementType ref="uidiagram.diagram.TextInput_3006"/>
         <elementType ref="uidiagram.diagram.DropDown_3007"/>
         <elementType ref="uidiagram.diagram.Menu_3008"/>
         <elementType ref="uidiagram.diagram.Img_3009"/>
         <elementType ref="uidiagram.diagram.Icon_3010"/>
         <elementType ref="uidiagram.diagram.Table_3011"/>
         <elementType ref="uidiagram.diagram.Column_3012"/>
         <elementType ref="uidiagram.diagram.ComboBox_3013"/>
         <elementType ref="uidiagram.diagram.RadioButton_3014"/>
         <elementType ref="uidiagram.diagram.UserInterface_3015"/>
         <elementType ref="uidiagram.diagram.Button_3016"/>
         <elementType ref="uidiagram.diagram.Label_3017"/>
         <elementType ref="uidiagram.diagram.CheckBox_3018"/>
         <elementType ref="uidiagram.diagram.TextInput_3019"/>
         <elementType ref="uidiagram.diagram.DropDown_3020"/>
         <elementType ref="uidiagram.diagram.Menu_3021"/>
         <elementType ref="uidiagram.diagram.Img_3022"/>
         <elementType ref="uidiagram.diagram.Icon_3023"/>
         <elementType ref="uidiagram.diagram.Table_3024"/>
         <elementType ref="uidiagram.diagram.Column_3025"/>
         <elementType ref="uidiagram.diagram.ComboBox_3026"/>
         <elementType ref="uidiagram.diagram.RadioButton_3027"/>
         <elementType ref="uidiagram.diagram.UserInterface_3028"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="uidiagram.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="uidiagram.diagram"
           properties="isURIEditorInput"
           class="uidiagram.diagram.part.UidiagramUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isShortcut">
      <?gmfgen generated="true"?>
       <propertyTester
           id="uidiagram.diagram.ShortcutPropertyTester"
           type="org.eclipse.gmf.runtime.notation.View"
           namespace="uidiagram.diagram"
           properties="isShortcut"
           class="uidiagram.diagram.part.UidiagramShortcutPropertyTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="uidiagram.diagram.resourceContent"/>
			<contentExtension pattern="uidiagram.diagram.domainResourceContent"/>
            <contentExtension pattern="uidiagram.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="uidiagram.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="uidiagram.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="uidiagram.diagram.navigator.UidiagramNavigatorContentProvider" 
            labelProvider="uidiagram.diagram.navigator.UidiagramNavigatorLabelProvider"
            icon="icons/obj16/UidiagramDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="uidiagram_diagram"/>
               </and>
               <instanceof value="uidiagram.diagram.navigator.UidiagramAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="uidiagram.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="uidiagram.diagram.navigator.UidiagramAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="uidiagram.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </possibleChildren>
         <commonSorter 
               id="uidiagram.diagram.navigatorSorter" 
               class="uidiagram.diagram.navigator.UidiagramNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="uidiagram_diagram"/>
                  </and>
                  <instanceof value="uidiagram.diagram.navigator.UidiagramAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="uidiagram.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="uidiagram.diagram.navigator.UidiagramDomainNavigatorContentProvider" 
            labelProvider="uidiagram.diagram.navigator.UidiagramDomainNavigatorLabelProvider"
            icon="icons/obj16/UidiagramDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="uidiagram"/>
               </and>
               <instanceof value="uidiagram.diagram.navigator.UidiagramDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="uidiagram.diagram.navigator.UidiagramDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="uidiagram.diagram.navigatorActionProvider"
            class="uidiagram.diagram.navigator.UidiagramNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="uidiagram.diagram.navigator.UidiagramAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="uidiagram.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="uidiagram.diagram.navigatorLinkHelper"
            class="uidiagram.diagram.navigator.UidiagramNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="uidiagram.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="uidiagram.diagram.navigator.UidiagramAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="uidiagram.diagram.part.UidiagramDiagramUpdateCommand"
         description="%update.diagram.description"
         id="uidiagram.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="uidiagram.diagram.updateDiagram"
         contextId="uidiagram.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="uidiagram.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="uidiagram.diagram.part.UidiagramDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="uidiagram.diagram.edit.parts.Ui_DiagramEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="uidiagram.diagram.part.UidiagramDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="uidiagram.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="uidiagram.diagram.part.UidiagramDiagramEditorID"
         defaultHandler="uidiagram.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
